body{
    font-family: "Rockwell";
    background-color: #2b2e34;
    margin: 0;
    color: white;
}

.menu {
    overflow: hidden;
    background-color: #000;
    padding-left: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}


.menu a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 26px;
    text-decoration: none;
    font-size: 25px;
}

.menu a:hover {
    color: #fdb713;
}

.menu a.active {
    color: #fdb713;
}

.menu .icon {
    display: none;
}



@media screen and (max-width: 600px) {
    .menu a {display: none;}
    .menu a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .menu.responsive {position: relative;}
    .menu.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .menu.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

.toggle {
    width: 30px;
    height: 4px;
    background-color: #fff;
    margin: 4px 0;
}

.bg {
    background-image: url("obrazky/keys.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    color: whitesmoke;
}

.bg .uvod {
    padding-left: 60px;
    padding-bottom: 30px; /*menu problem*/
    margin-left: 60px;
    font-size: 55px;
}

.bg .uvod div {
    padding-bottom: 50px;
}

.bg h1 {
    padding-bottom: 50px;
    padding-left: 20px;
}

.bg .menu {
    margin-left: 0;
    padding-bottom: 0;
}

.bg .menu div {
    padding-bottom: 0;
}

.bg .uvod .mainPosledny {
    padding-bottom: 40%;
}

.kontaktBg {
    background-image: url("obrazky/investigatorItems.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

.kontaktBg h1 {
    margin-left: 20px;
}

.kontaktBg form {
    margin-left: 30px;
    margin-right: 30px;
}

.kontaktBg .odosliTlacitko {
    margin-bottom: 20%;
}

.infoBiela {
    height: 50%;
    padding-top: 1px;
    background-size: cover;
    background-color: white;
    background-position: center;
}


.infoBiela h1 {
    padding-bottom: 50px;
    padding-left: 20px;
}

.infoBiela div {
    padding-left: 40px;
    font-size: 40px;
    padding-bottom: 50px;
}

.infoSeda {
    text-align: center;
}

.infoSeda h2 {
    font-size: 50px;
}

.pridajteVlastnu {
    font-size: 30px;
    text-align: center;
}

.odstranteNeexistujucu {
    font-size: 30px;
    text-align: center;
}

.zmenteNeaktualnu {
    font-size: 30px;
    text-align: center;
}

.infoSeda .iconBg {
    width: 300px;
    height: 300px;
    background-color: #fdb713;
    border-radius: 50%;
    position: center;
    display: inline-block;
}

.infoSeda .iconBg img {
    width: 150px;
    height: 150px;
    box-sizing: border-box;
    display: inline-block;
    margin-top: 75px;



}

.infoBg {
    background-color: white;
    color: black;
}

.infoBg div {
    padding-bottom: 10px;
    margin-left: 20px;
    font-size: 30px;
}

.infoBg h1 {
    padding-left: 20px;
}

.infoBg .menu {
    margin-left: 0;
    padding-bottom: 0;
}

.infoBg .menu div {
    padding-bottom: 0;
}

.infoBiela {
    background-color: white;
    color: black;
}

.zoznamRooms {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 50px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 50px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
}

li {
    float: left;
}

li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #F0F0F0;
    color: #000;
}

h1{
    font-size: 70px;
    margin-left: 10px;
}

.tlacitko {
    background-color: #fdb713;
    border: none;
    color: #fff;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.tlacitko:hover {
    background-color: #2b2e34;
    border: none;
    color: #fff;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


.zoznamRooms input[type=text], input[type=number], input[type=tel] {
    position: center;
    width: 35%;
    padding: 12px 20px;
    margin-left: 10%;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.zoznamRooms .pridat input[type=submit] {
    margin-left: 10%;
}

.zoznamRooms .odstranit input[type=submit] {
    margin-left: 10%;
}

.zoznamRooms input[type=text]:focus, input[type=number]:focus, input[type=tel]:focus {
    border: 4px solid #fdb713;
}

.zoznamRooms input[id=minutaz] {
    margin-right: 100%;
}

.zoznamRooms input[id=mazanieID] {
    margin-right: 100%;
}


.zoznamRooms .zmenit label  {
    font-size: 25px;
    margin-right: 100%;
}

.zoznamRooms .zmenit select  {
    height: 30px;
}

.zoznamRooms .zmenit input {
    margin-right: 100%;
    margin-top: 20px;
    margin-left: 0;
}

table, td, th {
    border: 3px solid white;
    text-align: left;
    color: white;
}

th {
    color: #fdb713;
}

table {
    border-collapse: collapse;
    width: 100%;

}

th, td {
    padding: 15px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=text]:focus {
    border: 3px solid #2b2e34;
}

textarea {
    font-family: 'Arial';
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
    resize: none;
}

textarea:focus {
    border: 3px solid #2b2e34;
}

input[type=submit]{
    background-color: #fdb713;
    border: none;
    color: #fff;
    padding: 16px 32px;
    text-decoration: none;
    text-transform: uppercase;
    margin: 4px 2px;
    cursor: pointer;
}
